/* body */
body {
  font-family: "Helvetica", sans-serif; 
}
html, body { height: 100%; }
body > #wrapper { height: auto; min-height: 100%; }

.container {  
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.25fr 1.7fr 0.3fr 0.45fr 0.62fr 1.9fr 0.4fr 2.3fr 1.1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;

    justify-content:center;
    
    grid-auto-flow: row;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "gsolutions"
      "h"
      "i";
  }
  
  .a {  
    width:100vw;

    display: grid;
    /*grid-template-columns: .8fr 1.9fr 1.2fr 1.4fr 1fr 1.6fr 1.1fr 1fr 1fr 1.2fr .9fr;*/
    /*grid-template-columns: auto 14.5% 9% 10.5% 7.5% 12% 8% 8% 8% 9% auto;*/
    grid-template-columns: minmax(0, 1fr) 14.5% 9% 10.5% 7.5% 12% 8% 8% 8% 9% minmax(0, 1fr);

    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". alogo ahome features apricing ahow asupport . asign atry .";
    grid-area: a;

    height: 5vw;
    margin-top:.5vw;
    
  }

  /* All link containers in navbar*/
  .a div {
    align-self:center;
    justify-self:center;
  }

  /* Links in navbar */
  .a a {
    text-decoration: none; /* no underline in links */
    font-size:1vw;
  }

  .a a:visited {
    color:rgb(128, 128, 128);
  }

  .a a:hover {
    font-size:1.1vw;
    color:rgb(0, 33, 242);
    transition: .2s ease-in-out;
    font-weight:bold;
  }

  .a button {
    font-size: 1vw;
    font-weight: 600;
    text-align:center;
  }
  
  .alogo { grid-area: alogo; }

  #logo-img {
    height:75%;
    width:75%;
  }

  .alogo:hover {
    width:105%;
    transition: .2s ease-in-out;
  }
  
  .ahome { grid-area: ahome; }
  
  .features { grid-area: features; }
  
  .apricing { grid-area: apricing; }
  
  .ahow { 
    grid-area: ahow;
  }
  
  .asupport { grid-area: asupport; }
  
  .asign { grid-area: asign; }

  #sign-up-navbar-button {
    padding: .4vw 1.2vw;
    background-color:white;
    color:rgb(33, 84, 212);
    border: 1.7px solid blue;
    font-style:normal;
    border-radius: 8px;

  }

  #sign-up-navbar-button:active {
    padding: .6vw 1.4vw;
    transition: .2s ease-in-out;
    }
  
  .atry { grid-area: atry; }

  .white-button {
    background-color:white;
    color:rgb(0, 33, 242);
    border: .2px solid rgb(0, 33, 242);
  }

  .white-button:hover {
    background-color:rgb(21, 87, 214);
    color:white;
    transition: .17s ease-in-out;
  }

  .blue-button {
    background-color:rgb(21, 87, 214);
    color:white;
  }

  .blue-button:hover {
    background-color: white;
    border: .2px solid rgb(0, 33, 242);
    color: rgb(34,79,239);
  }

  #try-it-button {
    background-color:rgb(21, 87, 214);
    padding-left:3px;
    padding-right:3px;
    padding-top:2px;
    padding-bottom:1px;
    padding: .4vw .7vw;
    border-radius: 8px;
  }

  #try-it-button:active {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: .2s ease-in-out;
  }

  #try-it-button:hover {
    background-color: white;
    border: .2px solid rgb(0, 33, 242);
    color: rgb(34,79,239);
    transition: .17s ease-in-out;
  }
  
  .b {  
    width:100vw;
    justify-content:center; /* for dynamic sizing */
    display: grid;
    grid-template-columns: 0.9fr 3.7fr 3fr 0.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". b1 b2 .";
    grid-area: b;
  }
  
  .b1 {  
    width:100%;
    justify-content:center;
    align-items:flex-start;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-rows: 0.5fr 0.4fr 0.4fr 0.9fr 0.4fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "b1focus"
      "b1let"
      "b1subs"
      "b1a"
      "b1already"
      "b1b";
    grid-area: b1;
  }
  
  .b1focus { 
    grid-area: b1focus;
  }

  /* focus text */
  .b1focus h1 {
    font-size:5.1vw;
    font-weight: 600;
    letter-spacing:-.5px;
    font-stretch:condensed; /* doesn't work */
    line-height: 7vw;
    padding-top:1vw;
  }
  
  .b1let { grid-area: b1let; }

  .b1let h4 {
    font-size:2.8vw;
    font-weight:500;
    padding-top:0;
  }
  
  .b1subs { grid-area: b1subs; }

  .b1subs {
    font-size:1vw;
    padding-right:3vw;
    font-weight: 700;
    font-size:1.4vw;
    color:rgb(153, 153, 153);
  }
  
  .b1a {  
    width:47vw;
    align-self:flex-start;
    justify-self:center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "b1asign b1achat .";
    grid-area: b1a;
    justify-items: center;
  }
  
  .b1asign { grid-area: b1asign; }

  .b1a button {
    font-size:1.4vw;
    font-weight:600;
  }
  
  .b1achat { grid-area: b1achat; }
  
  .b1b { grid-area: b1b;}
  
  .b1already { grid-area: b1already; }

  .b1already h3 {
    font-size:2vw;
    color:rgb(91, 90, 90);
    font-weight:500;
  }

  .b1already a {
    text-decoration: none;
    color:rgb(91, 90, 90);
  }
  
  .b2 {  
    grid-area: b2;
    justify-self:center;
    align-self:flex-start;
  }

  .b2 img {
    height:90%;
    width:90%;
  }
  
  .c { 
    grid-area: c;
    margin-left:20%;
    align-items: center;
    margin-top: -140px;
   }

  
  .d {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.94fr 1.06fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "dstart"
      "danew";
    grid-area: d;
    margin-top: -150px;
    
  }
  
  .dstart { grid-area: dstart;
    margin-left: 0px;
    text-align: center;
    font-weight: 400;
  }
  
  .danew { 
    grid-area: danew;
    margin-left: 0px;
    text-align: center;
    margin-top: -140px;
  }
  
  .e {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". epayments eretain ereporting econvert .";
    grid-area: e;
    justify-content: center;
    margin-top: -190px;
  }

  .e button {
    display: inline-block;
      height:135px;
      margin: 23px;
      vertical-align: center;
      width: 135px;
      border:65px;
      border-radius: 15px;
   }
  
  .epayments { 
    grid-area: epayments;
    color: white;
  }
  .epayments button{
    background-color: rgb(27, 41, 239);
   }
  
  
  .eretain { grid-area: eretain;}

  .eretain button{
    background-color: white;
    border: 1.1px solid rgb(20, 20, 20);
  }
  
  .ereporting { grid-area: ereporting;}

  .ereporting button{
    background-color: white;
    border: 1.1px solid rgb(20, 20, 20);
  }
  
  .econvert { grid-area: econvert;}

  .econvert button{
    background-color: white;
    border: 1.1px solid rgb(20, 20, 20);
  }
  
  .f {  display: grid;
    grid-template-columns: 0.3fr 0.4fr 1.9fr 0.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". f1 f2 .";
    grid-area: f;
    margin-top: -100px;
    height: 10px;
  }
  
  .f1 { 
    grid-area: f1;

}

  .f2 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 1.2fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "f2start"
      "f2deliver"
      "f2accept"
      "f2learn";
    grid-area: f2;
    padding:50px;
    background-color:rgb(27, 41, 239);
    color: white;
  }
  
  .f2start { grid-area: f2start;
    margin-top: 60px;
  }
  
  .f2start h2{
    font-size: 1.9vw;
    font-weight: 505;

  }
  
  .f2deliver { grid-area: f2deliver; }

  .f2deliver h5{
    font-size: 1.2vw;
    margin-bottom: 30px;
    margin-top: -15px;
    font-weight:500;
  }
  
  
  .f2accept { grid-area: f2accept;
    margin-top: -35px; }

  .f2accept li{
    font-size: 0.8vw;
    font-weight: 100;
  }
  
  .f2learn { grid-area: f2learn; }

  
  .gsolutions { 
    grid-area: gsolutions;
    margin-top:-px;
    font-size: 30px;
    margin-left:550px;
 }
  
  .h {  display: grid;
    grid-template-columns:26.67% 46.67% 26.67%; /*0.8fr 1.4fr 0.8fr;*/
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". h1 .";
    grid-area: h;
    margin-top: -2000px;
    
  }
  
  .h1 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 100px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1a h1b"
      "h1c h1d";
    grid-area: h1;
    margin-top: px;

  }
  
  .h1a {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.6fr 0.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1alogo"
      "h1email"
      "h1aautomate"
      "h1alearn";
    grid-area: h1a;
  }
  
  .h1alogo { grid-area: h1alogo; }

  .h1alogo img{
    margin-left: 63px;
  }

  .h1email { grid-area: h1email;}

  .h1email h4{
    font-weight: 800;
    font-size:1.8vw;
    margin-top: 10px;
  }
  
  .h1aautomate { grid-area: h1aautomate; }

  .h1alearn { grid-area: h1alearn; }
  

  
  .h1b {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.6fr 0.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1blogo"
      "h1btask"
      "h1bautomate"
      "h1blearn";
    grid-area: h1b;
  }
  
  .h1blogo { grid-area: h1blogo; }

  .h1blogo img{
    margin-left: 63px;
  }

  
  .h1btask { grid-area: h1btask;}

  .h1btask h4{
    font-weight: 800;
    font-size:1.8vw;
    margin-top: 10px;
  }
  
  .h1bautomate { grid-area: h1bautomate; }
  
  .h1blearn { grid-area: h1blearn; }
  
  .h1c {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.6fr 0.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1clogo"
      "h1canalytics"
      "h1cutomate"
      "h1clearn";
    grid-area: h1c;
  }
  
  .h1clogo { grid-area: h1clogo; }

  .h1clogo img{
    margin-left: 63px;
  }

  .h1canalytics { grid-area: h1canalytics; }

  .h1canalytics h4{
    font-weight: 800;
    font-size:1.8vw;
    margin-top: 10px;
  }
  
  .h1cutomate { grid-area: h1cutomate; }
  
  .h1clearn { grid-area: h1clearn; }
  
  .h1d {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.6fr 0.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1dlogo"
      "h1dproject"
      "h1dtomate"
      "h1dlearn";
    grid-area: h1d;
  }
  
  .h1dlogo { grid-area: h1dlogo; }

  .h1dlogo img{
    margin-left: 63px;
  }
  
  .h1dproject { grid-area: h1dproject; }

  .h1dproject h4{
    font-weight: 800;
    font-size:1.8vw;
    margin-top: 10px;
  }
  
  .h1dtomate { grid-area: h1dtomate; }
  
  .h1dlearn { grid-area: h1dlearn; }
  
  .i {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". i1 .";
    grid-area: i;
    margin-top: ;
    background-color: rgb(0, 57, 250);
  }
  
  .i1 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "i1try"
      "i1lets"
      "i1a"
      "i1free"
      ".";
    grid-area: i1;
  }
  
  .i1try { grid-area: i1try;}

  .i1try h1{
    color:white;
    font-size: 2.5vw;
    margin-top: 5vw;
  }
  
  .i1lets { grid-area: i1lets; }

  .i1lets h4{
    color:white;
  }
  
  .i1a {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "i1aget i1achat";
    grid-area: i1a;
  }
  
  .i1achat { grid-area: i1achat; }

  .i1aget { grid-area: i1aget; }
  
  .i1free { grid-area: i1free;}

  .i1free h6{
    color:white;
  }

 