/* body */
body {
  font-family: "Helvetica", sans-serif; 
}
html, body { 
  height: 100%;
  width:100%;
}

body > #wrapper { height: auto; min-height: 100%; }

/* container */
.container-fluid {  
    width: 100vw;
    height:224.7vw; /* based on image dimensions of landing.png*/
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;

    overflow:hidden;
    
    
    justify-self:center;
    justify-content:center;

    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 2% 22.5% 1% 5% 8% 21% 3% 25.5% 12%; /* based on grid layout */
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "gsolutions"
      "h"
      "i";
      
  }
  /* Navbar container */
  .a {  
    justify-self:center;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 14.5% 9% 10.5% 7.5% 12% 8% 8% 8% 9% minmax(0, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". alogo ahome features apricing ahow asupport . asign atry .";
    grid-area: a;
    width:100%;
    height: 5vw;
    margin-top:.5vw;
    
  }

  /* All link containers in navbar*/
  .a div {
    align-self:center;
    justify-self:center;
  }

  /* Links in navbar */
  .a a {
    text-decoration: none; /* no underline in links */
    font-size:1vw;
  }

  /* Links in navbar when visited */
  .a a:visited {
    color:rgb(128, 128, 128);
  }

  /* Links in navbar after hover */
  .a a:hover {
    font-size:1.1vw;
    color:rgb(0, 33, 242);
    transition: .2s ease-in-out;
    font-weight:bold;
  }

  /* buttons in nav bar */
  .a button {
    font-size: 1vw;
    font-weight: 600;
    text-align:center;
    
  }
  
  /* logo container */
  .alogo { grid-area: alogo; }

  /* logo image */
  #logo-img {
    height:75%;
    width:75%;
  }

  /* logo image gets bigger when you hover over it */
  .alogo:hover {
    width:105%;
    transition: .2s ease-in-out;
  }
  
  /* other containers for links in nav bar grid */
  .ahome { grid-area: ahome; }
  
  .features { grid-area: features; }
  
  .apricing { grid-area: apricing; }
  
  .ahow {  grid-area: ahow; }
  
  .asupport { grid-area: asupport; }
  
  .asign { grid-area: asign; }

  /* sign up button in nav bar */
  #sign-up-navbar-button {
    padding: .4vw 1.2vw;;
    border-radius: .5vw;
    font-weight: 500;
  }

  /* sign up button in nav bar animates when active */
  #sign-up-navbar-button:active {
    padding: .6vw 1.4vw;
    transition: .2s ease-in-out;
    }
  
  .atry { grid-area: atry; }

  /* white buttons class */
  .white-button {
    background-color:white;
    color:rgb(27, 87, 244);
    border: .5px solid rgb(27, 87, 244);
  }

  /* white buttons upon hover  */
  .white-button:hover {
    background-color:rgb(27, 87, 244);
    color:white;
    transition: .17s ease-in-out;
  }

  /* blue buttons class */
  .blue-button {
    background-color:rgb(27, 87, 244);
    color:white;
  }

  /* blue buttons upon hover */
  .blue-button:hover {
    background-color: white;
    border: .2px solid rgb(27, 87, 244);
    color: rgb(27, 87, 244);
  }

  /* Try It Free button */
  #try-it-button {
    font-weight: 500;
    padding-left:3px;
    padding-right:3px;
    padding-top:2px;
    padding-bottom:1px;
    padding: .4vw .7vw;
    border-radius: .5vw;
  }

  /* Try It Free button when active */
  #try-it-button:active {
    padding: 6px 3x;
    transition: .2s ease-in-out;
  }

  /* Try It Free button when hovered over */
  #try-it-button:hover {
    background-color: white;
    border: .2px solid rgb(0, 33, 242);
    color: rgb(34,79,239);
    transition: .17s ease-in-out;
  }
  
  /* b section - heading */
  .b {  
    width:100%;
    height:50%;
    justify-content:center; /* for dynamic sizing */
    align-items:flex-start;
    display: grid;
    grid-template-columns: 0.9fr 3.7fr 3fr 0.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". b1 b2 .";
    grid-area: b;

  }
  
  /* left side of b heading - container */
  .b1 {  
    width:100%;
    height:43%;
    justify-content:flex-start;
    align-items:flex-start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr .5fr 1fr 1fr 1fr;
    /*grid-template-rows: 0.5fr 0.4fr 0.4fr 0.9fr 0.4fr 0.4fr;*/
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "b1focus"
      "b1let"
      "b1subs"
      "b1a"
      "b1already"
      "b1bulletedlist";
    grid-area: b1;
  }
  
  /* */
  .b1focus {   grid-area: b1focus; }

  /* focus text */
  .b1focus h1 {
    font-size:4.4vw;
    font-weight: 600;
    letter-spacing:-.5px;
    line-height: 5.7vw;
    padding-top:6vw;
  }
  
  .b1let {    grid-area: b1let; }

  /* text in Let Us Handle ... */
  .b1let h4 {
    font-size:2.8vw;
    font-weight:500;
    padding-top:0;
  }

  /* Subscription text */
  .b1subs {
    width:100%;
    grid-area: b1subs;
    font-size:1vw;
    padding-right:3vw;
    padding-bottom:0px;
    height:70%;
    font-weight: 700;
    font-size:1.4vw;
    color:rgb(153, 153, 153);
    margin-bottom:0;
  }
  
  /* container for buttons in b1 */
  .b1a {  
    width:47vw;
    align-self:flex-start;
    justify-self:center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "b1asign b1achat .";
    grid-area: b1a;
    justify-items: center;
    margin-bottom:1.5vw;
  }
  
  .b1asign { grid-area: b1asign; }

  /* buttons in b1 */
  .b1a button {
    width:100%;
    font-size:1.4vw;
    font-weight:600;
    padding-top:8%;
    padding-bottom:8%;
  }
  
  .b1achat { grid-area: b1achat; }

  /* sign up free button */
  #sign-up-free-btn {
    padding-left: 8px;
    padding-right: 0px;
  }

  /* text in Sign Up Free button */
  #sign-up-free-btn span {
    font-size:1.4vw;
    padding-right: 2vw;
  }

  /* icon */
  #sign-up-free-btn i {
    padding-right:4px;
  }

  /* chat with us button, b section */
  #chat-button {
    width:100%;
  }

  /* icon in Chat With Us button */
  #chat-button i {
    padding-right:.5vw;
  }
  
  .b1b { grid-area: b1b;}
  
  /* Already text container */
  .b1already { 
    grid-area: b1already;
    width:100%;
    height:2vw;
  }

  /* Already text */
  .b1already h3 {
    font-size:1.5vw;
    color:rgb(91, 90, 90);
    font-weight:500;
  }

  /* Already links */
  .b1already a {
    text-decoration: none;
    color:rgb(91, 90, 90);
  }

  /* Container for Free Day Trial bulleted list, b1*/
  .b1bulletedlist {
    width:100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1.2fr .5fr 2fr .5fr 2fr 3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "free-14-day-trial blue-bullet manage-customers blue-bullet-2 cancel-anytime .";
    align-items:center;
    justify-content:center;
    padding:0;

    grid-area:b1bulletedlist;
  }

  /* item in bulleted list, b1*/
  .b1bulletitem {
    width:100%;
  }

  /* free 14 day trial */
  .free-14-day-trial {
    grid-area: free-14-day-trial;
    width:100%;
    padding-right:0;
    align-self:center;
    justify-self:center;
    
  }

  /* blue bullet */
  .blue-bullet {
    grid-area: blue-bullet;
    clip-path: ellipse(115px 50px at 50% 40%);
    width:100%;
  }

  /* blue bullet image */
  .blue-bullet-img {
    justify-self:center;
    margin-left:auto;
    margin-right:auto;
    height:.7vw;
    width: .6vw;
    background-color:rgb(21, 87, 244);
    border-radius: 50%;
  }

  /* Manage Customers */
  .manage-customers {
    grid-area: manage-customers;
    width:100%;
    justify-self:center;
  }

  #blue-bullet-2 {   grid-area: blue-bullet-2; }

  /* Cancel anytime button */
  .cancel-anytime {
    grid-area: cancel-anytime;
    width:100%;
    justify-self: center;
  }

  /* bullet item image */
  .b1bulletitem img {
    height:1.3vw;
  }
  
  /* right side of B section */
  .b2 {  
    grid-area: b2;
    justify-self:center;
    align-self:flex-start;
  }

  /* image in right side of B section */
  .b2 img {
    height:100%;
    width:100%;
    align-self:flex-start;
    padding-top:3vw;
  }
  
  /* C section - line divider */
  .c { 
    align-self:flex-start;
    justify-content:center;
    height:1vw;
    grid-area: c;
    align-items: center;
    padding:0;
   }

  /* center line divider*/
  .c hr {
    margin:auto;
  }

  /* D section - text header */
  .d {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.94fr 1.06fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "dstart"
      "danew";
    grid-area: d;
    margin:0;
    text-align:center;
    justify-self:center;
    justify-content:center;

    height:100%;
  }
  
  /* Start text container */
  .dstart { grid-area: dstart;
    margin-left: 0px;
    text-align: center;
    font-weight: 400;
  }

  /* Start text */
  .dstart h3 {
    font-size: 2vw;
    padding: 0 12vw;
  }
  
  /* New text container */
  .danew { 
    grid-area: danew;
    margin-left: 0px;
    text-align: center;
  }

    /* "New" text in D */
  .danew p {
    font-size: 1vw;
    line-height:1.2vw;
  }
  
  /* E section: row of buttons */
  .e {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 4vw;
    grid-auto-flow: row;
    grid-template-areas:
      ". epayments eretain ereporting econvert .";
    grid-area: e;
    justify-content: center;
    justify-self:center;
    margin:auto;
  }

  /* button class for E section */
  .e button {
    display: inline-block;
      height:10vw;
      width: 9.5vw;
      margin: 4vw;
      vertical-align: center;
      border-radius: 1vw;
      font-weight: 100;
      font-size:1.3vw;
  }
  .epayments {     grid-area: epayments; }
  
   /* payment button image */
  #payment-button img {
    width:4.5vw;
    border-radius: 50%;
    margin-top:1vw;
    margin-bottom: .5vw;
  }
  
  /* payment button text*/
  #payment-button span {
    margin-top:4vw;
    text-align:center;
  }

  /* Retain button image */
  #retain-button img {
    width:3vw;
    object-fit: cover;
    padding-bottom:1.5vw; /* FIX ALIGNMENT ON ITEMS*/
    padding-top:1.5vw;
  }

  /* Reporting button image */
  #reporting-button img {
    width: 4vw;
    padding-bottom:1.5vw;
    padding-top:vw;
  }

  /* Convert button image */
  #convert-button img {
    width: 4.5vw;
    padding-bottom:1.5vw;
    padding-top:1vw;
  }
  
  /* image for payment button */
  .epay{
    width:50%;
  }

  /* second type of white button - in E section */
  .white-button2 {
    background-color:white;
    color:rgb(112, 112, 112);
    border: .5px solid rgb(112, 112, 112);
  }

  /* second type of white button, hover - in E section */
  .white-button2:hover {
    background-color:rgb(21, 87, 214);
    color:white;
    border: .2px solid rgb(112, 112, 112);
    transition: .17s ease-in-out;
  }

  /* image grows on hover */
  .white-button2:hover img {
    width:150%;
    transition: .17s ease-in-out;
  }

  /* second type of blue button - in E section */
  .blue-button2 {
    background-color:rgb(24, 87, 244);
    color:rgb(255, 255, 255);
    border: .2px solid rgb(112, 112, 112);
  }

  /* second type of blue button, hover - in E section */
  .blue-button2:hover{
    background-color:rgb(255, 255, 255);
    border: .2px solid rgb(112, 112, 112);
    color:rgb(112, 112, 112);
    transition: .17s ease-in-out;
  }

  /* image grows on hover */
  .blue-button2:hover img{
    border: 1px solid rgb(112, 112, 112);
    transition: .17s ease-in-out;
  }
  
  .eretain { grid-area: eretain;}
  
  .ereporting { grid-area: ereporting;}

  .econvert { grid-area: econvert;}
  
  /* f section: image with blue on right */
  .f {  
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "f1 f2";
    grid-area: f;
    height: 100%;
    width:80%;
    justify-self:center;
    justify-content:center;
  }
  
  /* left column of F section */
  .f1 { 
    grid-area: f1;
    height:57%;

    border-radius: 2vw 0px 0px 2vw;
    border:.5px solid rgb(113, 113, 113);
    margin-right:0;
}

  /* image in f section */
  .f1 img {
    margin: auto;
    height:24vw;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* F section, righthand side*/
  .f2 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.7fr .7fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "f2start"
      "f2deliver"
      "f2accept"
      "f2learn";
    grid-area: f2;
    padding:0 4vw;
    background-color:rgb(21, 87, 244);
    color: white;
    
    height:57%;
    width:100%;
    /* round just the edges of the shape*/
    border-radius: 0px 2vw 2vw 0px;
    border:.5px solid rgb(113, 113, 113);
    margin-right:0;
  }
  
  /* Start text container */
  .f2start { 
    grid-area: f2start;
    margin-top: 6.5vw;
    margin-bottom: 2.5vw;
  }

  /* Start text */
  .f2start h2{
    font-size: 1.9vw;
    font-weight: 500;

  }
  
  .f2deliver { grid-area: f2deliver; }

  /* Deliver text */
  .f2deliver h5{
    font-size: 1.2vw;
    margin-bottom: 0vw;
    margin-top: -2vw;
    font-weight:500;
  }
  
  .f2accept {     grid-area: f2accept; }
  
  /* bulleted unordered list in Accept section */
  .f2accept ul {
    margin:0;
    padding-left:.5vw;
    line-height: 1vw;
    justify-self: flex-start;
  }

  /* list item in Accept */
  .f2accept li{
    list-style-type: "- ";
    font-size: 0.8vw;
    font-weight: 100;
    line-height: 1vw;
    margin:0;
  }
  
  .f2learn {   grid-area: f2learn; }

  /* Learn More button  */
 .f2learn button {
    font-weight: 200;
    padding:0;
    background-color:rgb(13, 81, 239);
    color:rgb(246, 247, 255);
    border: 1px solid rgb(255, 255, 255);
    width:19vw;
    height: 3vw;
    line-height:0vw;
    border-radius: .7vw;
    justify-items:center;
 }

 /* Learn More, on hover */
.btn2:hover {
  background-color:rgb(111, 184, 230);
  color:rgb(252, 252, 252);
  transition: .17s ease-in-out;
}

/* text on learn more button */
 #learn-more-text {
  padding-left:2vw;
  padding-right:3vw;
  font-size: 1.2vw;
 }
 
/* icon on learn more */
 #f2learnmore i {
  padding-left:20;
  padding-right:0;
  font-size: 1.5vw;
}

/* G section - Solutions heading */
  .gsolutions { 
    grid-area: gsolutions;
    font-size: 1.8vw;

    align-self: flex-start;
    text-align:center;

    height:100%;
    width:100%;

    font-weight:600;
    padding-bottom:0;
 }

  /* H section: 2x2 image grid*/
  .h {  display: grid;
    grid-template-columns:26.67% 46.67% 26.67%;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1";
    grid-area: h;
    width:80%; /* for margins*/
    justify-self:center;

  }

  /* buttons in H section*/
  .btn1{
      background-color:white;
      color:rgb(12, 14, 27);
      border: 2px solid rgb(21, 24, 44);
      width:60%;
      border-radius: .3vw;
      
  }

  /* H section buttons, upon hover */
  .btn1:hover {
      background-color:rgb(13, 15, 19);
      color:rgb(252, 252, 252);
      transition: .17s ease-in-out;
  }
  
  /* grid inside H section*/
  .h1 {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 10vw; /* change for more horiz space between items */
    grid-auto-flow: row;
    grid-template-areas:
      "h1a h1b"
      "h1c h1d";
    grid-area: h1;
    width: 100%;
  
    justify-self:center;
    align-items:flex-start;
  }

  /* items inside h1 section*/
  .h1 div {
    justify-items: center;
    
  }
  
  /* top left part of H grid */
  .h1a {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr 0.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1alogo"
      "h1email"
      "h1aautomate"
      "h1alearn";
    grid-area: h1a;

    height:50%;
    width:100%;
  }

  /* all images container in H section*/
  .h1-logo {
    justify-content: center;
    align-items: center;
    align-self:center;
    width: 10vw;
  }

  /* image in H section */
  .h1-logo img{
    width:100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .h1alogo { grid-area: h1alogo; }

  /* H1 Heading text*/
  .h1-heading h4 { 
    margin-top: 1vw;
    font-weight: 800;
    font-size:2vw;
  }

  .h1email { grid-area: h1email;}
  
  .h1aautomate { grid-area: h1aautomate; }

  .h1-automate {  width:100%; }
  
  /* text for automate section */
  .h1-automate h6{
    font-size:1vw;
    padding-left:6vw;
    padding-right:6vw;
  }

  .h1alearn {   grid-area: h1alearn; }

  /* Learn more button in H section*/
  .h1learn-btn {
    margin-top:-2.6vw;
    width:12vw; 
    height:2.5vw;
    border-radius:1vw;
    justify-items:center;
    align-self:flex-start;
  }

  /* Learn More Button itself */
  .h1learn-btn button {
    width:100%;
    height: 100%;
    font-size: 1vw;
    border: 0.2px solid black;
    padding:0;
  }
  
  /* top right part of H section grid*/
  .h1b {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.6fr 0.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1blogo"
      "h1btask"
      "h1bautomate"
      "h1blearn";
    grid-area: h1b;

    height:80%;
    width:100%;
  }
  
  .h1blogo {   grid-area: h1blogo; }
  
  .h1btask { grid-area: h1btask;}

  .h1bautomate { grid-area: h1bautomate; }
  
  .h1blearn { grid-area: h1blearn;  }
  
  /* bottom left part of H section grid */
  .h1c {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.6fr 0.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1clogo"
      "h1canalytics"
      "h1cutomate"
      "h1clearn";
    grid-area: h1c;

    height:80%;
    width:100%;
  }
  
  .h1clogo { grid-area: h1clogo; }

  .h1canalytics { grid-area: h1canalytics; }
  
  .h1cutomate { grid-area: h1cutomate; }
  
  .h1clearn { grid-area: h1clearn; }
  
  /* bottom right part of H grid */
  .h1d {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.6fr 0.7fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1dlogo"
      "h1dproject"
      "h1dtomate"
      "h1dlearn";
    grid-area: h1d;

    height:80%;
    width:100%;
  }
  
  .h1dlogo { grid-area: h1dlogo; }

  .h1dproject { grid-area: h1dproject; }
  
  .h1dtomate { grid-area: h1dtomate; }
  
  .h1dlearn { grid-area: h1dlearn; }

  /* icon in buttons for H section*/
  .btn1 i {
    font-size: 1vw;
    padding-left:3vw;
  }

  /* text for Learn More button in H section*/
  .btn1 b {
    padding-left:2vw;
  }
  
  /* footer section container */
  .i {  display: grid;
    grid-template-columns: .4fr 1fr .4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". i1 .";
    grid-area: i;
    background-color: rgb(21, 87, 244);

    width:100%;
  }
  
  /* i section in grid */
  .i1 {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .6fr .4fr .3fr .6fr 1fr; /* fix this */
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "i1try"
      "i1lets"
      "i1a"
      "i1free"
      ".";
    grid-area: i1;
  }
  
  .i1try { grid-area: i1try;}

  /* Try Double Tap text */
  .i1try h1{
    margin-top: 5%;
    text-align:center;
    color:white;
    font-size: 3vw;
    margin-bottom:0;
  }
  
  /* let's get started container */
  .i1lets {
    grid-area: i1lets; 
    margin-top: 2%;
  }

  /* Let's Get Started text */
  .i1lets h4{
    color:white;
    font-size:1.4vw;
    font-weight:600;
    margin-top:0;
  }
  
  /* buttons container in i section*/
  .i1a {  
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "i1aget i1achat";
    grid-area: i1a;
    width:60%;
    align-items: flex-start;;
    justify-content:center;
    justify-self:center;
  }

  /* Get started button container */
  .i1aget { 
    grid-area: i1aget; 
    justify-content:center;

  }

  /*Get started Button*/
  .end-btn {
    background-color: rgb(129, 207, 59);
    border: none;
    width: 15vw;
    height: 3.5vw;
    color: #FFFFFF;
    border-radius: 0.5vw;
    font-weight: bold;
    cursor: pointer;
    justify-content:center; /* need to center button */
    padding:0;
    font-size:1.4vw;
  }


  /* text in get started button */
  .end-btn span {
    padding-right: 2vw;
  }

  /* icon in get started button */
  .end-btn i {
    padding-left:1.2vw;
  }


  /* chat button container */
  .i1achat { grid-area: i1achat; 
    justify-content: flex-end;
    justify-self: flex-end;
  }

  /* chat button in i section*/
  #chat-button-bottom {
    font-size: 1vw;
    font-weight:600;
    width: 15vw;
    height: 3.5vw;
    padding:0;
  }

  /* chat button icon*/
  #chat-button-bottom i {
    padding-right:1vw;
    font-size:2vw;
  }

  /* chat button on hover */
  #chat-button-bottom:hover {
    border: .5px solid white;
  }

  /* Bulleted list in i section */
  .i1free { grid-area: i1free;
    width:50%;
    justify-self:center;
    align-self:flex-start;
    height: 3vw;

    display: grid;
    grid-template-columns: 1fr .5fr 2fr .5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "free-14-day-trial white-bullet manage-customers white-bullet-2 cancel-anytime";
    align-items:center;
    justify-content:center;
    padding:0;

    grid-area:i1free;
  }

  /* item in bulleted list for i section */
  .i1freeitem {
    width:100%;
  }

  /* white colored bullet shape between items */
  .white-bullet {
    grid-area: white-bullet;
    clip-path: ellipse(115px 50px at 50% 40%);
    width:100%;
  }

  /* image for white bullet */
  .white-bullet-img {
    justify-self:center;
    margin-left:auto;
    margin-right:auto;
    height:.5vw;
    width: .5vw;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
  }

  #white-bullet-2 {  grid-area: white-bullet-2; }

  /* Free 14 day trial i section*/
  .i1freeitem img {
    height:1.3vw;
    width: 100%;
  }
