body {
    font-family: ;
}
@media only screen and (max-width: 900px) {
    .form-control {
        width: 500%;
    }
}

.form-control {
    border-radius: 30px;
    width: 30vw;
}

.inputicons {}

.sign-up-image {
    display: flex;
    justify-content: end;
}

.sign-up-title h1 {
    font-weight: bolder;

}

.sign-up-title {
    margin-right: 13vw;
}

#signup_button {
    border-radius: 30px;
    background-color: rgb(34,79,239);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bold;
    border: 1px solid;
}

#signup_button:active {
    padding-left: 51.5px;
    padding-right: 51.5px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    transition: .2s ease-in-out; 
}

#signup_button:hover {
    background-color: white;
    color: rgb(34,79,239);
    transition: .17s ease-in-out;
}

.sign-up-bottom-text p {
    font-weight: bolder;
    font-size: small;
}

.social-media-container a {
    font-size: 35px;
    margin-right: 45px;
}

.fa {
    padding: 10px;
    padding-left: 10px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(168,168,168);
    border-radius: 50%;
    color: black;
  }

.facebk:hover {
    color: white;
    background-color: rgb(23,93,238);
    transition: .2s;
    opacity: 35%;
}

.twtter:hover {
    color: white;
    background-color: rgb(107,170,232);
    transition: .2s;
    opacity: 35%;
}
.googl:hover {
    color: white;
    background-color: rgb(45,156,65);
    transition: .2s;
    opacity: 35%;
    
}
.linkdin:hover {
    color: white;
    background-color: rgb(15,79,181);
    transition: .2s;
    opacity: 35%;
}
