body {
    display: grid;
    grid-template-areas: 
        "sign_up_panel desk_image";
}

.sign_up_panel {
    grid-area: sign_up_panel;
}

.sign_up_input {
    border-radius: 5px;
}

.desk_image {
    grid-area: desk_image;
}