body {
    font-family: ;
}

#logolink {
    display: flex;
    justify-content: end;
    padding-right: 15%;
}

/*-----Sign In Form-----*/
.form-control {
    border-radius: 30px;
    width: 25vw;
}

/*-----Adjusts position of text input boxes-----*/
.textinput__ {
    padding-right: 50px;
}

.sign-in-title h1 {
    font-weight: bolder;
}

.sign-in-title {
    margin-right: 13vw;
}

#signin_button {
    border-radius: 30px;
    background-color: rgb(34,79,239);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bold;
    border: 1px solid;
}

#signin_button:active {
    padding-left: 51.5px;
    padding-right: 51.5px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    transition: .2s ease-in-out; 
}

#signin_button:hover {
    background-color: white;
    color: rgb(34,79,239);
    transition: .17s ease-in-out;
}

.signin-bottom-text p {
    font-weight: bolder;
    font-size: small;

}

.social-media-container a {
    font-size: 35px;
    margin-right: 45px;
}

.fa {
    padding: 10px;
    padding-left: 10px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(168,168,168);
    border-radius: 50%;
    color: black;
  }

.facebk:hover {
    color: white;
    background-color: rgb(23,93,238);
    transition: .2s;
    opacity: 35%;
}

.twtter:hover {
    color: white;
    background-color: rgb(107,170,232);
    transition: .2s;
    opacity: 35%;
}
.googl:hover {
    color: white;
    background-color: rgb(45,156,65);
    transition: .2s;
    opacity: 35%;
    
}
.linkdin:hover {
    color: white;
    background-color: rgb(15,79,181);
    transition: .2s;
    opacity: 35%;
}
/*-----End of Sign In Form-----*/

.signup-text {
    color: white;
}

#signup_button {
    border-radius: 30px;
    ackground-color: rgb(34,79,239);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bold;
    border: 1px solid;
    text-decoration: none;
}

#signup_button:active {
    padding-left: 51.5px;
    padding-right: 51.5px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    transition: .2s ease-in-out; 
}

#signup_button:hover {
    background-color: white;
    color: rgb(34,79,239);
    transition: .17s ease-in-out;
}

.rocketimage {
    padding-top: 9%;
    padding-right: 7.5%;
    z-index: 0;
}



.blueshape {
    position: absolute;
    display: inline-block;
    top: -6%;
    left: 0;
    width: 74%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.blueshape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 1015px;
    transform: rotateY(180deg);
    right: 25%;
}

.blueshape .shape-fill {
    fill: #0000FE;
}

.signup-text2 {
    display: none;
}

.signup-button2 {
    display: none;
}

@media (max-width: 1199px) {


    /*-----specific grid for this media query-----*/
    .container {  
        display: flex;
        justify-content: center;
        grid-template-columns: .4fr 1fr .4fr;
        grid-template-rows: .9fr 1.5fr 1.7fr .3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". signin-container-right ."
          ". signin-container-right ."
          ". signin-container-right ."
          ". . .";
      }
      
      .signin-container-right {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.6fr 1.2fr 1.2fr 1.1fr .8fr .4fr .7fr ;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". sign-in-title ."
          ". username-input ."
          ". email-input ."
          ". password-input ."
          ". signin-button ."
          ". signin-bottom-text ."
          "social-media-container social-media-container social-media-container"

        grid-area: signin-container-right;
      }
      
      .sign-in-title {
        justify-self: center;
        align-self: end;
        grid-area: sign-in-title;
        margin-left: 3vw;
        white-space: nowrap; 
      }
      
    /* username container */
    .username-input {
        justify-self: start;
        align-self: center;
        grid-area: username-input;
  }
  
    /* email container */
    .email-input {
        justify-self: start;
        align-self: center;
        grid-area: email-input;
  }
  
  /* password container */
  .password-input {
    justify-self: start;
    align-self: center;
  }

  .sign-up-button {
    justify-self: center;
    align-self: center;
    grid-area: sign-up-button;
    padding-right:40px;
    padding-top: 5%;
  }

    /* sign-up bottom text container */
    .sign-up-bottom-text {
        justify-self: center;
        align-self: center;
        grid-area: sign-up-bottom-text;
        padding-right: 40px;
        padding-top: 5%;
      }

      .social-media-container {
        display: flex;
        justify-content: center;
      }
      
      .signup-text2 {
        justify-self: center;
        align-self: center;
        grid-area: signup-text2;
      }
      
      .signup-button2 {
        justify-self: center;
        align-self: center;
        grid-area: signup-button2;
      }
    /*-----End of query specific grid-----*/

    .blueshape {
        display: none;
    }

    .rocketimage {
        display: none;
    }

    .signup_button2 {

    }

    .signin-image-container {
        display: none;
    }

    .signin-image {
        display: none;
    }

    .signup-container {
        display: none;
    }

    #signup_button2 {
        border-radius: 30px;
        background-color: rgb(34,79,239);
        color: white;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: larger;
        font-weight: bold;
        border: 1px solid;
    }
    
    #signup_button2:active {
        padding-left: 51.5px;
        padding-right: 51.5px;
        padding-top: 11.5px;
        padding-bottom: 11.5px;
        transition: .2s ease-in-out; 
    }
    
    #signup_button2:hover {
        background-color: white;
        color: rgb(34,79,239);
        transition: .17s ease-in-out;
    }

    .form-control {
        width: 175%;
    }

    .textinput__ {
        display: flex;
        justify-content: center;
        padding: 2%;
        margin-left: -2vw;
        
    }

    .signin-button {
        padding-right: 0px;
        padding-top: 2vw;
    }

    .signin-bottom-text {

        padding-right: 0px;
        white-space: nowrap; 
      }

    #signup_button:active {
    padding-left: 51.5px;
    padding-right: 51.5px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    transition: .2s ease-in-out; 
}

#signup_button:hover {
    background-color: white;
    color: rgb(34,79,239);
    transition: .17s ease-in-out;
}

#signup_button:active {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .2s ease-in-out; 
}

#signup_button:hover {
    background-color: white;
    color: rgb(34,79,239);
    transition: .17s ease-in-out;
}

}

@media (max-width: 390px) {
    .social-media-container a {
        font-size: 35px;
        margin-right: 20px;
       
    }

    .form-control {
        width: 135%;
    }
}
